*{
  background-color: #93E6FF;
  box-sizing: border-box;
  font-family: impact;
}
table {
  font-family: ariel;
  border: 2px solid #000;
  background-color: #04ff00 ;
}
td {
  border: 2px solid #000;
}
section {
  float: left;
  border-radius: 5px;
}
#left, #right {
  width: 200px;
}
#center {
  width: 380px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
img.resize{
   max-width:50%;
   max-height:50%;
}
