*{
  background-color: #93E6FF;
  box-sizing: border-box;
  font-family:   serif;
}
table {
  margin: auto;
  margin-top: 10px;
  border-collapse: collapse;
  font-family: "Times New Roman";
  font-size: 20px;
  border: 2px solid #000;
  background-color: #04ff00 ;
}
td, th {
  width: 2.2em;
  height: 2.2em;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}
section.top {
  border-radius: 5px;
  height: 100px;
  margin: auto;
}

#center {
  width: 500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
img{
   margin: auto;
   margin-left: auto;
   margin-right:auto;
   max-width:50%;
   max-height:50%;
}
IMG.displayed {
    display: inline;

    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
#pictureBar{
  position: relative;
  margin: auto;
}
